<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerdoo Autorun Creater | New Pack</title>

    <!-- CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">

    <link rel="stylesheet" href="../css/plugins/bootstrap_rtl.css">

    <link rel="stylesheet" href="../css/plugins/material-icons.css">

    <link rel="stylesheet" href="../css/plugins/propeller.min.css">

    <link rel="stylesheet" href="../css/globals/fonts.css">

    <link rel="stylesheet" href="../css/views/pack.sass">

</head>

<body>
    <div id="wrapper">

        <header id="steps">

            <div class="stepCont pmd-z-depth active">

                <span>
                    1
                </span>

                <span>
                    عمومی
                </span>

            </div>

            <div class="stepPipe active">
                <span class="pmd-z-depth">

                </span>
            </div>

            <div class="stepCont pmd-z-depth">
                <span>
                    2
                </span>

                <span>
                    نرم‌افزارها
                </span>
            </div>

            <div class="stepPipe">
                <span class="pmd-z-depth">

                </span>
            </div>

            <div class="stepCont pmd-z-depth">
                <span>
                    3
                </span>

                <span>
                    موزیک
                </span>
            </div>

            <div class="stepPipe">
                <span class="pmd-z-depth">

                </span>
            </div>

            <div class="stepCont pmd-z-depth">
                <span>
                    4
                </span>

                <span>
                    اتمام
                </span>
            </div>


        </header>

        <main>

            <div id="stepManagerWrapper">

                <div class="stepWrapper">

                    step1

                </div>

                <div class="stepWrapper">

                    <aside id="softwareMenu">

                        <header>



                        </header>

                        <div id="softwares">

                        </div>

                    </aside>

                    <div>
                        step2
                    </div>

                </div>

            </div>

        </main>

    </div>

    <!-- scripts -->

    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

    <script src="../js/plugins/jquery-1.12.1.js"></script>

    <script src="../js/plugins/bootstrap.min.js"></script>

    <script src="../js/plugins/propeller.min.js"></script>

    <script src="../js/globals/global.js"></script>

    <script src="../js/views/pack/Step.js"></script>

</body>

</html>