<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerdoo Autorun Creater | New Pack</title>

    <!-- CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">

    <link rel="stylesheet" href="../css/plugins/bootstrap_rtl.css">

    <link rel="stylesheet" href="../css/plugins/material-icons.css">

    <link rel="stylesheet" href="../css/plugins/propeller.min.css">

    <link rel="stylesheet" href="../css/globals/fonts.css">

    <link rel="stylesheet" href="../css/views/pack.sass">

    <link rel="stylesheet" href="../js/plugins/quill/quill.snow.css">

</head>

<body>
    <div id="wrapper">

        <header id="steps">

            <div class="stepCont pmd-z-depth active">

                <span>
                    1
                </span>

                <span>
                    عمومی
                </span>

            </div>

            <div class="stepPipe">
                <span class="pmd-z-depth">

                </span>
            </div>

            <div class="stepCont pmd-z-depth">
                <span>
                    2
                </span>

                <span>
                    نرم‌افزارها
                </span>
            </div>

            <div class="stepPipe">
                <span class="pmd-z-depth">

                </span>
            </div>

            <div class="stepCont pmd-z-depth">
                <span>
                    3
                </span>

                <span>
                    تم
                </span>
            </div>

            <div class="stepPipe">
                <span class="pmd-z-depth">

                </span>
            </div>

            <div class="stepCont pmd-z-depth">
                <span>
                    4
                </span>

                <span>
                    اتمام
                </span>
            </div>


        </header>

        <main id="stepWrapper">

            <div id="stepManagerWrapper">

                <div class="stepWrapper pmd-z-depth">

                    <h2>
                        تنظیمات عمومی
                    </h2>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    عنوان مجموعه
                                </label>
                                <input type="text" id="regular1" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="col-lg-11 col-sm-10 col-xs-10 col-md-11">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        آدرس ذخیره‌ی اتوران
                                    </label>
                                    <input type="text" id="regular1" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-2 col-xs-2 col-md-1 buttonWrapper">
                                <button type="button" class="btn pmd-btn-outline pmd-ripple-effect btn-primary">...</button>
                            </div>
                        </div>


                    </div>

                    <h2>
                        درباره ما
                    </h2>

                    <div class="row">

                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                            <div class="quillEditor">

                            </div>
                        </div>

                    </div>

                    <h2>
                        نکات ضروری قبل از نصب نرم افزار
                    </h2>

                    <div class="row">

                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                            <div class="quillEditor">

                            </div>
                        </div>

                    </div>

                    <h2>
                        تب دلخواه(مطالب)
                    </h2>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    عنوان تب
                                </label>
                                <input type="text" id="regular1" class="form-control">
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">
                            <div class="quillEditor">

                            </div>
                        </div>
                    </div>

                </div>

                <div class="stepWrapper pmd-z-depth withoutBack forActive">

                    <aside id="softwareMenu" class="pmd-z-depth">

                        <header>

                            <div>
                                <ul>
                                    <li class="pmd-ripple-effect">
                                        <i class="material-icons">
                                            search
                                        </i>
                                    </li>
                                    <li class="pmd-ripple-effect">
                                        <i class="material-icons">
                                            filter_1
                                        </i>
                                    </li>
                                    <li class="pmd-ripple-effect">
                                        <i class="material-icons">
                                            filter_2
                                        </i>
                                    </li>
                                </ul>
                            </div>

                            <div id="softHeaderSliderWrapper">

                                <div class="slideWrapper">

                                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                            <label for="regular1" class="control-label">
                                                جستجو
                                            </label>
                                            <input type="text" id="regular1" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                        <button class="btn btn-sm pmd-btn-flat pmd-ripple-effect btn-primary" type="button">جستجو</button>
                                    </div>

                                </div>

                                <div class="slideWrapper forSlide">

                                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
                                        <div class="form-group">
                                            <label for="regular1" class="control-label">دی وی دی</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                        <button class="btn btn-sm pmd-btn-flat pmd-ripple-effect btn-primary" type="button">فیلتر کن</button>
                                    </div>

                                </div>

                                <div class="slideWrapper forSlide">

                                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8">
                                        <div class="form-group">
                                            <label for="regular1" class="control-label">کتگوری</label>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-xs-4 col-sm-4 col-md-4">
                                        <button class="btn btn-sm pmd-btn-flat pmd-ripple-effect btn-primary" type="button">فیلتر کن</button>
                                    </div>

                                </div>

                            </div>


                        </header>

                        <div id="softwares">

                            <ul>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="pmd-ripple-effect">
                                        <i class="material-icons">adjust</i>
                                        <span>DVD 1</span>
                                    </div>
                                    <ul class="catWrapper">
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="pmd-ripple-effect">
                                                <i class="material-icons">events</i>
                                                <span>DVDV DVDH HBFJSD GMDJGJDFG FDJGJFDKNGDG FDGNFGN</span>
                                            </div>
                                            <ul class="softWrapper">
                                                <li>
                                                    <div class="pmd-ripple-effect">
                                                        <i class="material-icons">events</i>
                                                        <span>سلام</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>

                        <footer>
                            <ul>
                                <li class="pmd-ripple-effect">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </li>
                                <li class="pmd-ripple-effect">
                                    <i class="material-icons">
                                        remove
                                    </i>
                                </li>
                                <li class="pmd-ripple-effect disabled">
                                    <i class="material-icons">
                                        edit
                                    </i>
                                </li>
                            </ul>
                        </footer>

                    </aside>

                    <div class="tabWrapper forSoftware">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#generalTab" aria-controls="generalTab" role="tab" data-toggle="tab">عمومی</a>
                            </li>
                            <li role="presentation">
                                <a href="#descTab" aria-controls="descTab" role="tab" data-toggle="tab">توضیحات</a>
                            </li>
                            <li role="presentation">
                                <a href="#installGuideTab" aria-controls="installGuideTab" role="tab" data-toggle="tab">راهنمای نصب</a>
                            </li>
                            <li role="presentation">
                                <a href="#crackTab" aria-controls="crackTab" role="tab" data-toggle="tab">کرک</a>
                            </li>
                        </ul>
                        <div class="pmd-card">
                            <div class="pmd-card-body">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="generalTab">

                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="regular1" class="control-label">دیسک</label>
                                                    <select class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="regular1" class="control-label">کتگوری</label>
                                                    <select class="form-control">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <hr />

                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <span>
                                                    سیستم‌عامل‌ها
                                                </span>
                                                <div id="osList">
                                                    <div class="checkbox pmd-default-theme">
                                                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                                                            <input type="checkbox" value="">
                                                            <span> Windows XP</span>
                                                        </label>
                                                    </div>
                                                    <div class="checkbox pmd-default-theme">
                                                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                                                            <input type="checkbox" value="">
                                                            <span> Windows XP</span>
                                                        </label>
                                                    </div>
                                                    <div class="checkbox pmd-default-theme">
                                                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                                                            <input type="checkbox" value="">
                                                            <span> Windows XP</span>
                                                        </label>
                                                    </div>
                                                    <div class="checkbox pmd-default-theme">
                                                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                                                            <input type="checkbox" value="">
                                                            <span> Windows XP</span>
                                                        </label>
                                                    </div>
                                                    <div class="checkbox pmd-default-theme">
                                                        <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                                                            <input type="checkbox" value="">
                                                            <span> Windows XP</span>
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <span>
                                                    تصویر
                                                </span>
                                                <div id="softwareImageWrapper">

                                                    <img src="" alt="Software Image" />

                                                    <div>
                                                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">افزودن</button>
                                                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger">حذف</button>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <hr />

                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                                    <label for="regular1" class="control-label">
                                                        آدرس فایل نصبی
                                                    </label>
                                                    <input type="text" id="regular1" class="form-control">
                                                    <p class="help-block"> مثال: setup.exe یا folder/setup.exe </p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                                    <label for="regular1" class="control-label">
                                                        آدرس برنامه
                                                    </label>
                                                    <input type="text" id="regular1" class="form-control">
                                                </div>
                                            </div>

                                        </div>

                                        <hr>

                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <span>
                                                    تگ‌ها
                                                </span>
                                                <div class="list-group pmd-z-depth pmd-list pmd-card-list">
                                                    <a class="list-group-item" href="javascript:void(0);">تگ1</a>
                                                </div>
                                                <div>
                                                    <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">افزودن</button>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                                    <label for="regular1" class="control-label">
                                                        آدرس وب
                                                    </label>
                                                    <input type="text" id="regular1" class="form-control">
                                                </div>
                                            </div>

                                        </div>

                                        <hr>

                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="checkbox pmd-default-theme">
                                                    <label class="pmd-checkbox pmd-checkbox-ripple-effect">
                                                        <input type="checkbox" value="">
                                                        <span> پیشنهادی گردو</span>
                                                    </label>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="descTab">

                                        <h2>
                                            توضیحات فارسی
                                        </h2>

                                        <div class="row">
                                            <div class="quillEditor">

                                            </div>
                                        </div>

                                        <h2>
                                            توضیحات انگلیسی
                                        </h2>

                                        <div class="row">
                                            <div class="quillEditor">

                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="installGuideTab">

                                        <h2>
                                            راهنمای نصب فارسی
                                        </h2>

                                        <div class="row">
                                            <div class="quillEditor">

                                            </div>
                                        </div>

                                        <h2>
                                            اهنمای نصب انگلیسی
                                        </h2>

                                        <div class="row">
                                            <div class="quillEditor">

                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="crackTab">

                                        <div class="row">

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                                    <label for="regular1" class="control-label">
                                                        آدرس کرک
                                                    </label>
                                                    <input type="text" id="regular1" class="form-control">
                                                    <p class="help-block"> مثال: setup.exe یا folder/setup.exe </p>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                                    <label for="regular1" class="control-label">
                                                        آدرس پتچ
                                                    </label>
                                                    <input type="text" id="regular1" class="form-control">
                                                </div>
                                            </div>

                                        </div>

                                        <hr>

                                        <div class="row">

                                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                                <label class="control-label">سریال</label>
                                                <textarea required class="form-control"></textarea>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="stepWrapper pmd-z-depth forActive">

                    <div class="row">

                        <div id="themeBgImage">
                            <img src="" />

                            <div>
                                <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">افزودن</button>
                                <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger">حذف</button>
                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="regular1" class="control-label">
                                    رنگ 1
                                </label>
                                <input type="color" id="regular1" class="form-control">
                                <p class="help-block"> مثال: setup.exe یا folder/setup.exe </p>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="regular1" class="control-label">
                                    رنگ 2
                                </label>
                                <input type="color" id="regular1" class="form-control">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="regular1" class="control-label">
                                    رنگ پس زمینه
                                </label>
                                <input type="color" id="regular1" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>

    </div>

    <!-- scripts -->

    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

    <script src="../js/plugins/jquery-1.12.1.js"></script>

    <script src="../js/plugins/bootstrap.min.js"></script>

    <script src="../js/plugins/propeller.min.js"></script>

    <script src="../js/globals/global.js"></script>

    <script src="../js/plugins/quill/quill.js"></script>

    <script src="../js/views/pack/Step.js"></script>

    <script src="../js/views/pack/SoftwareStep.js"></script>

</body>

</html>