<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gerdoo Autorun Creator</title>

    <!-- CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">

    <link rel="stylesheet" href="../css/plugins/bootstrap_rtl.css">

    <link rel="stylesheet" href="../css/plugins/material-icons.css">

    <link rel="stylesheet" href="../css/plugins/propeller.min.css">

    <link rel="stylesheet" href="../css/globals/fonts.css">

    <link rel="stylesheet" href="../css/views/mainPage.sass">

</head>

<body>
    <div id="wrapper">
        <aside class="pmd-z-depth" id="mainMenu">
            <img src="../images/logo.gif" />
            <ul>
                <li class="active">
                    <a href="#">
                        <i class="material-icons">dashboard</i>
                        <span>پک‌ها</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">settings</i>
                        <span>تنظیمات</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="material-icons">exit_to_app</i>
                        <span>خروج</span>
                    </a>
                </li>
            </ul>
        </aside>

        <main id="mainWrapper">
            <div class="tabWrapper pmd-z-depth showTab">

                <header>
                    <i class="material-icons">
                        dashboard
                    </i>
                    <span>
                        پک‌ها
                    </span>
                </header>

                <div class="row">
                    <button type="button" data-toggle="modal" data-target="#add-pack-modal" class="addPack btn pmd-btn-raised pmd-ripple-effect btn-success">افزود پک</button>
                </div>

                <div class="row">
                    <div class="pmd-card pmd-z-depth">
                        <div class="table-responsive">
                            <table id="packsTable" class="table table-center pmd-table table-hover table-fix">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            عنوان
                                        </th>
                                        <th>
                                            زمان ایجاد
                                        </th>
                                        <th>
                                            آخرین ویرایش
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
            <div class="tabWrapper pmd-z-depth">

                <header>
                    <i class="material-icons">
                        dashboard
                    </i>
                    <span>
                        تنظیمات
                    </span>
                </header>

                <div class="row">
                    <button data-toggle="modal" data-target="#add-os-modal" type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-success">افزودن سیستم‌عامل</button>
                </div>

                <div class="row">
                    <div class="pmd-card pmd-z-depth">
                        <div class="table-responsive">
                            <table id="OSesTable" class="table table-center pmd-table table-hover table-fix">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            عنوان
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


            </div>
        </main>
    </div>

    <!-- Modals -->

    <!-- Delete Modal for pack -->

    <div tabindex="-1" class="modal fade" id="delete-pack-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="pmd-card-title-text">آیا مطمین به حذف این آیتم هستید؟</h2>
                </div>
                <div class="modal-body">
                    <p>
                        آیا مطمین به حذف این آیتم هستید؟ این عمل غیرقابل بازگشت می باشد.
                    </p>
                </div>
                <div class="pmd-modal-action pmd-modal-bordered text-right">
                        <button data-dismiss="modal" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger modalActionButton">موافقم</button>
                    <button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">خیر</button>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- Delete modal for os -->

    <div tabindex="-1" class="modal fade" id="delete-os-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="pmd-card-title-text">آیا مطمین به حذف این آیتم هستید؟</h2>
                </div>
                <div class="modal-body">
                    <p>
                        آیا مطمین به حذف این آیتم هستید؟ این عمل غیرقابل بازگشت می باشد.
                    </p>
                </div>
                <div class="pmd-modal-action pmd-modal-bordered text-right">
                        <button data-dismiss="modal" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-danger modalActionButton">موافقم</button>
                    <button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">خیر</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add pack -->

    <div tabindex="-1" class="modal fade" id="add-pack-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pmd-modal-bordered">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h2 class="pmd-card-title-text">افزودن پک</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label>عنوان</label>
                                    <input type="text" class="mat-input form-control" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pmd-modal-action">
                    <button class="modalActionButton btn pmd-ripple-effect btn-primary" type="button">افزودن</button>
                    <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">بستن</button>
                </div>
            </div>
        </div>
    </div>

    <!-- add os -->

    <div tabindex="-1" class="modal fade" id="add-os-modal" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pmd-modal-bordered">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h2 class="pmd-card-title-text">افزودن سیستم عامل</h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-6 col-xs-12 col-md-6 col-sm-6">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label>عنوان</label>
                                    <input type="text" class="mat-input form-control" value="">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="pmd-modal-action">
                    <button class="modalActionButton btn pmd-ripple-effect btn-primary" type="button">افزودن</button>
                    <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">بستن</button>
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->

    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

    <script>
        require('../js/views/mainPage/dataManagers/PackManager.js');

        require('../js/views/mainPage/dataManagers/OSManager.js');
    </script>

    <script src="../js/plugins/jquery-1.12.1.js"></script>

    <script src="../js/plugins/bootstrap.min.js"></script>

    <script src="../js/plugins/propeller.min.js"></script>

    <script src="../js/views/mainPage/MainMenu.js"></script>

</body>

</html>