<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- CSS -->

    <link rel="stylesheet" href="../css/plugins/bootstrap.min.css">

    <link rel="stylesheet" href="../css/plugins/bootstrap_rtl.css">

    <link rel="stylesheet" href="../css/plugins/material-icons.css">

    <link rel="stylesheet" href="../css/plugins/propeller.min.css">

    <link rel="stylesheet" href="../css/globals/fonts.css">

    <link rel="stylesheet" href="../css/views/mainPage.css">

    <!-- JS -->

    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>

    <script src="../js/plugins/jquery-1.12.1.js"></script>

    <script src="../js/plugins/bootstrap.min.js"></script>

    <script src="../js/plugins/propeller.min.js"></script>

</head>

<body>
    <div id="wrapper">
        <aside id="mainMenu">
            <img />
            <ul>
                <li>
                    <i class="material-icons">event</i>
                    <span></span>
                </li>
            </ul>
        </aside>
    </div>
</body>

</html>